<html>
    <head>
        <title>FORMULAIRE DE CLASSE</title>
        <meta charset="UTF_8/">
    </head>
  </body>
   <center>
   <h1>BIENVENUE DANS LA PLATEFORME DE GESTION DU LYCEE D'EXELENCE DE DAKAR</h1>
    <TABLE border=4 cellspacing=8 cellpadding=8 width=80%> 
     <form method="post">
	    <TR>
	       <TD colspan="2" >
          <CENTER> <h2>FORMULAIRE D'UNE CLASSE</h2>  </center>	
		   </TD>
	    </TR>
	    <TR> 
		   <TD>Numero de classe</TD> 
	      <TD> <input type="text" name="numero" placeholder="donner son numero"/>  </TD>
       </TR> 
       <TR>  
	      <TD>Nom</TD> 
	      <TD> <input type="text" name="nom" placeholder="donner le nom"/>  </TD>
       </TR> 
       <TR>  
	       <TD>Nombre d'eleve</TD> 
	       <TD> <input type="text" name="nombre" placeholder="donner le Nombre d'eleve"/></TD> 
	    </TR>
       
	    <TR> 
		  <TD colspan="2">
	      <center>
		    <input type="submit" value="Enregistrer" />
		  </center></TD> 
		</TR>
	   </form >
     </TABLE>
	 </center>
    </body> 
   </html>