<html>
  <head>
	 <title>GESTION DU LYCEE D'EXELENCE DE DAKAR</title>
	      
	
  </head>
  <body> 
   <center>
   <TABLE border=6 cellspacing=6 cellpadding=23 width=100%> 
    <TR>
	  <TD colspan="3" >
      <CENTER> <h2>BIENVENUE DANS LA PLATEFORME DE GESTION DU LYCEE D'EXELENCE DE DAKAR</h2></center>
	  </TD>
	 </TR>
	 <TR> 
	  <TD colspan="3" >
      <CENTER><h3>GESTION DES CLASSES DE L'ECOLE</h3></center>
	  </TD>
	 </TR>
	 <TR> 
		   <TD><CENTER><input type=button onclick=window.location.href='/ajouter_classe'; value="AJOUTER UNE CLASSE" class="boutton1" /></CENTER></TD>
		   <TD><CENTER><input type=button onclick=window.location.href='/modifier_classe'; value="MODIFIER LES INFORMATIONS D'UNE CLASSE" class="boutton2" /></CENTER></TD>
		   <TD><CENTER><input type=button onclick=window.location.href='/supprimer_classe'; value="SUPPRIMER LES INFORMATIONS D'UNE CLASSE" class="boutton3" /></CENTER></TD>
	 </TR>
	 <TR> 
	  <TD colspan="3" >
		  <CENTER><strong> <h3>INSCRIPTION D'UN ELEVE DANS UNE CLASSE</h3></strong></CENTER>
	   </TD>
	 </TR>
	 <TR >
		 <TD colspan="3"><CENTER><input type=button onclick=window.location.href='/ajouter_eleve'; value="AJOUTER UN ELEVE" class="boutton4" /><CENTER></TD>
	 </TR>
	 <TR> 
	  <TD colspan="3" >  
		  <CENTER><h3>LES INFORMATIONS DE L'ECOLE</h3> </CENTER>
	   </TD>
	 </TR>
	 <TR > 
		 <TD colspan="2"><CENTER><input type=button onclick=window.location.href='/liste_classe'; value="LISTE DES CLASSES" class="boutton7" /><CENTER></TD>
		 <TD><CENTER><input type=button onclick=window.location.href='/liste_eleve'; value="LISTE DES ELEVES" class="boutton8" /><CENTER></TD>
	 </TR>
	 
	 </TABLE>
	</center>
	  
    </body>
   </html>